.openingTimes {
  padding: 100px 0;
  background-color: white;
  color: #111;
}

.travelJourney {
  @extend .openingTimes;
  background-image: linear-gradient(to bottom right, red, yellow);
}

.location {
  border-radius: 5px;
}

.btn {
  margin-bottom: 15px;
}

.table {
  margin-top: 20px;
}

.openingTimesImg {
  margin-bottom: 20px;
}

.dropdown {
  cursor: pointer;
}