@import "standardStyling";

.openingTimes {
  padding: 100px 0;
  background-color: $white;
  color: $black;

  &Img {
    margin-bottom: 20px;
  }
}

.travelJourney {
  @extend .openingTimes;
  background-image: $red-to-yellow;
}

.location {
  border-radius: 5px;
}

.table {
  margin-top: 20px;
}

.dropdown {
  cursor: pointer;
}