@import "standardStyling";

.information {
  padding: 100px 0;
  background-color: $white;
  color: $black;
}

.rounded {
  border-radius: 3.25px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption{
  text-shadow: 1px 1px $black;
  color: $orange;
  background: rgba($white, 0.3);
}