.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.openingTimes, .travelJourney {
  padding: 100px 0;
  background-color: #ffffff;
  color: #111; }
  .openingTimesImg {
    margin-bottom: 20px; }

.travelJourney {
  background-image: linear-gradient(to bottom right, #ff0000, #ffcc00); }

.location {
  border-radius: 5px; }

.table {
  margin-top: 20px; }

.dropdown {
  cursor: pointer; }

.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

@media (max-width: 768px) {
  #navigation .nav-item {
    width: 100%; } }
@media (min-width: 768px) {
  #navigation {
    display: flex; } }

.navigation {
  padding: 20px 0;
  background: linear-gradient(to bottom right, #f3f3f3, #ffffff); }
  .navigation .search {
    margin: auto 0; }
    @media (max-width: 768px) {
      .navigation .search {
        order: 4;
        margin-top: 30px; } }

.nav {
  padding-top: 20px; }
  .nav-pills .nav-link {
    border: 1px solid #ffa31a;
    background: #ffffff;
    color: #ffa31a;
    transition: 0.2s all;
    margin: 10px; }
    .nav-pills .nav-link:hover {
      border: 1px solid #ffffff;
      background: linear-gradient(to bottom right, #ff0000, #ffcc00);
      color: #ffffff;
      transition: 0.2s all; }
  .navTitle {
    width: 100%;
    text-align: center;
    font-family: cursive;
    color: #ffa31a;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .navTitle {
        font-size: 27px; } }
  .navButton {
    display: none; }
    @media (max-width: 768px) {
      .navButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55px; } }
  .navImg {
    width: 45%;
    height: auto;
    min-height: 50px;
    min-width: 50px; }
    .register .navImg {
      cursor: pointer; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-image: linear-gradient(to bottom right, #ff0000, #ffcc00); }

.footer {
  padding: 100px 0 50px;
  background: linear-gradient(to bottom right, #444, #111); }
  .footerLink {
    color: #ffffff;
    text-align: center;
    margin-left: -15px; }
    .footerLink:hover {
      color: #ffa31a; }
  .footer .links {
    width: 100%; }
    .footer .links h3, .footer .links ul {
      text-align: center; }
  .footer .phone {
    margin-top: 10px; }
    .footer .phone .fa {
      margin-right: 5px;
      color: #ffa31a; }
  .footer .copyright {
    border-top: 1px solid #ffa31a;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center; }
  .footer .social-media .fa {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all;
    font-size: 28px;
    padding: 18px;
    margin: 15px 5px;
    border-radius: 50%; }
    .footer .social-media .fa-facebook:hover {
      border: 1px solid #ffffff;
      background: #3B5998;
      color: #ffffff;
      transition: 0.2s all; }
    .footer .social-media .fa-twitter:hover {
      border: 1px solid #ffffff;
      background: #55ACEE;
      color: #ffffff;
      transition: 0.2s all; }
    .footer .social-media .fa-instagram:hover {
      border: 1px solid #ffffff;
      background: linear-gradient(to bottom left, #405DE6, #E1306C, #FFDC80);
      color: #ffffff;
      transition: 0.2s all; }
    .footer .social-media .fa-envelope:hover {
      border: 1px solid #ffffff;
      background: #009999;
      color: #ffffff;
      transition: 0.2s all; }
    .footer .social-media .fa-youtube:hover {
      border: 1px solid #ffffff;
      background: #bb0000;
      color: #ffffff;
      transition: 0.2s all; }

.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.information {
  padding: 100px 0;
  background-color: #ffffff;
  color: #111; }

.rounded {
  border-radius: 3.25px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-caption {
  text-shadow: 1px 1px #111;
  color: #ffa31a;
  background: rgba(255, 255, 255, 0.3); }

.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.restaurantSection, .menuSection, .storeSection, .attractionSection, .dishesSection, .productsSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.block {
  border: 1px solid #111;
  background: #ffcc00;
  color: #111;
  transition: 0.2s all;
  display: flex;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 200px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }
  .block h3 {
    font-size: 22px;
    margin: 0 auto; }
  .block:hover {
    border: 1px solid #ffcc00;
    background: #ffffff;
    color: #ffcc00;
    transition: 0.2s all;
    text-decoration: none; }
  .block:nth-of-type(2n + 1) {
    border: 1px solid #ffffff;
    background: #ffa31a;
    color: #ffffff;
    transition: 0.2s all; }
    .block:nth-of-type(2n + 1):hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }
  .block:nth-of-type(4n + 2) {
    border: 1px solid #ffffff;
    background: #ff0000;
    color: #ffffff;
    transition: 0.2s all; }
    .block:nth-of-type(4n + 2):hover {
      border: 1px solid #ff0000;
      background: #ffffff;
      color: #ff0000;
      transition: 0.2s all; }
  .block:nth-of-type(3n + 1) {
    border: 1px solid #ffffff;
    background: #111;
    color: #ffffff;
    transition: 0.2s all; }
    .block:nth-of-type(3n + 1):hover {
      border: 1px solid #111;
      background: #ffffff;
      color: #111;
      transition: 0.2s all; }

.nav-tabs {
  border-color: #ffa31a;
  margin: 20px 0; }
  .nav-tabs .nav-link {
    color: #ffa31a;
    margin: 0 10px; }
    @media (max-width: 768px) {
      .nav-tabs .nav-link {
        margin: 0 1px;
        padding: 10px 8px; } }
    .nav-tabs .nav-link.active {
      border: 1px solid #ffffff;
      background: linear-gradient(to bottom right, #ff0000, #ffcc00);
      color: #ffffff;
      transition: 0.2s all; }
    .nav-tabs .nav-link:hover {
      border: 1px solid #ffffff;
      background: linear-gradient(to bottom right, #ff0000, #ffcc00);
      color: #ffffff;
      transition: 0.2s all; }

.parkTitle {
  margin-left: 20px; }

.card {
  margin: 1px 0; }
  .card a {
    color: #ffa31a;
    font-weight: bold; }
  .card .reviewName {
    font-style: italic; }
  .card textarea.form-control {
    margin-bottom: 20px; }
  .card-header {
    display: flex;
    justify-content: space-between; }
    .card-header .btn {
      margin-bottom: 0; }

.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.jumbotron {
  text-align: center; }

.form-inline {
  justify-content: center;
  margin-top: 30px; }

.welcomesSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

.blockSection {
  padding: 100px 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

.blockLink {
  border: 1px solid #ffffff;
  background: linear-gradient(to bottom right, #444, #111);
  color: #ffffff;
  transition: 0.2s all;
  display: flex;
  border-radius: 5px;
  margin: 40px;
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(10deg); }
  @media (max-width: 768px) {
    .blockLink {
      margin: 10px;
      min-width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px; } }
  .blockLink h3 {
    font-size: 22px;
    transform: rotate(-10deg);
    margin: 0 auto; }
    @media (max-width: 768px) {
      .blockLink h3 {
        font-size: 19px; } }
  .blockLink:hover {
    border: 1px solid #ffa31a;
    background: #ffffff;
    color: #ffa31a;
    transition: 0.2s all;
    text-decoration: none;
    transform: rotate(0deg); }
    .blockLink:hover h3 {
      transform: rotate(0deg);
      transition: 0.5s all; }

.btn {
  margin-bottom: 15px; }
  .btn-primary {
    border: 1px solid #ffffff;
    background: linear-gradient(to bottom right, #ff0000, #ffcc00);
    color: #ffffff;
    transition: 0.2s all; }
    .btn-primary:hover {
      border: 1px solid #ffa31a;
      background: #ffffff;
      color: #ffa31a;
      transition: 0.2s all; }

.table {
  text-align: center; }
  .table .btn {
    margin: 0; }

thead {
  background: linear-gradient(to bottom right, #ff0000, #ffcc00);
  color: #ffffff; }

ul {
  list-style: none; }

.authContainer, .reviewSection {
  padding: 100px 0;
  width: 100%;
  background: #ffffff;
  color: #111; }

/*# sourceMappingURL=main.css.map */
