@import "standardStyling";

#navigation {
  & .nav-item {
    @include md {
      width: 100%;
    }
  }

  @include md-up {
    display: flex;
  }
}

.navigation {
  padding: 20px 0;
  background: $white-gradient;

  & .search {
    margin: auto 0;

    @include md {
      order: 4;
      margin-top: 30px;
    }
  }
}

.nav {
  padding-top: 20px;

  &-pills .nav-link {
    @include block($orange, $white);
    margin: 10px;

    &:hover {
      @include block($white, $red-to-yellow);
    }
  }

  &Title {
    width: 100%;
    text-align: center;
    font-family: cursive;
    color: $orange;
    margin-bottom: 30px;

    @include md {
      font-size: 27px;
    }
  }

  &Button {
    display: none;

    @include md {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }
      width: 55px;
    }
  }

  &Img {
    width: 55%;
    height: 135px;
    min-height: 50px;
    min-width: 50px;

    @include md {
      height:50px;
    }

    .register & {
      cursor: pointer;
    }
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-image: $red-to-yellow;
}

.footer {
    padding: 100px 0 50px;
    background: $black-gradient;

  &Link {
    color: $white;
    text-align: center;
    margin-left: -15px;

    &:hover {
      color: $orange;
    }
  }

  & .links {
    width: 100%;

    & h3, ul {
      text-align: center;
    }
  }

  & .phone {
    margin-top: 10px;

    & .fa {
      margin-right: 5px;
      color: $orange;
    }
  }

  & .copyright {
    border-top: 1px solid $orange;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
  }

  & .social-media .fa {
    @include block($white, $red-to-yellow);
    font-size: 28px;
    padding: 18px;
    margin: 15px 5px;
    border-radius: 50%;

    &-facebook:hover {
      @include block($white, $facebook)
    }

    &-twitter:hover {
      @include block($white, $twitter)
    }

    &-instagram:hover {
      @include block($white, $instagram)
    }

    &-envelope:hover {
      @include block($white, $email)
    }

    &-youtube:hover {
      @include block($white, $youtube)
    }
  }
}