@import "standardStyling";

#navigation {
  & .nav-item {
    @include md {
      width: 100%;
    }
  }

  @include md-up {
    display: flex;
  }
}

.navigation {
  padding: 20px 0;
  background: $white-gradient;

  & .search {
    margin: auto 0;

    @include md {
      order: 4;
      margin-top: 30px;
    }
  }
}

.nav {
  padding-top: 20px;

  &-link {
    color: $orange;
    border: 1px solid $orange;
    margin: 10px;

    &:hover {
      background: $red-to-yellow;
      color: $white;
    }
  }

  &Title {
    width: 100%;
    text-align: center;
    font-family: cursive;
    color: $orange;
    margin-bottom: 30px;

    @include md {
      font-size: 27px;
    }
  }

  &Button {
    display: none;

    @include md {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 55px;
    }
  }

  &Img {
    width: 45%;
    height: auto;
    min-height: 50px;
    min-width: 50px;

    .register & {
      cursor: pointer;
    }
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-image: $red-to-yellow;
}

.footer {
    padding: 100px 0 50px;
    background: $black-gradient;

  &Link {
    color: $white;
    text-align: center;
    margin-left: -15px;

    &:hover {
      color: $orange;
    }
  }

  & .links {
    width: 100%;

    & h3, ul {
      text-align: center;
    }
  }

  & .phone {
    margin-top: 10px;

    & .fa {
      margin-right: 5px;
      color: $orange;
    }
  }

  & .copyright {
    border-top: 1px solid $orange;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
  }

  & .social-media .fa {
    font-size: 28px;
    padding: 18px;
    margin: 15px 5px;
    background-color: $orange;
    background-image: $red-to-yellow;
    color: $white;
    border-radius: 50%;
    transition: 0.5s all;

    &-facebook:hover {
      background: #3B5998;
      color: $white;
    }

    &-twitter:hover {
      background: #55ACEE;
      color: $white;
    }

    &-instagram:hover {
      background-image: linear-gradient(to bottom left, #405DE6, #E1306C, #FFDC80);
      color: $white;
    }

    &-youtube:hover {
      background: #bb0000;
      color: $white;
    }

    &-envelope:hover {
      background: blue;
      color: $white;
    }
  }
}