@import "standardStyling";

.restaurantSection, .menuSection, .storeSection, .attractionSection, .dishesSection, .productsSection {
  padding: $standard-block-padding;
  width: 100%;
  background-color: $white;
  color: $black;
}

.block {
  @include block($black, $yellow);
  display: flex;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 200px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  & h3 {
    font-size: 22px;
  }

  &:hover {
    @include block($yellow, $white);
    text-decoration: none;
  }

  &:nth-of-type(2n + 1) {
    @include block($white, $orange);

    &:hover {
      @include block($orange, $white);
    }
  }

  &:nth-of-type(4n + 2) {
    @include block($white, $red);

    &:hover {
      @include block($red, $white);
    }
  }

  &:nth-of-type(3n + 1) {
    @include block($white, $black);

    &:hover {
      @include block($black, $white);
    }
  }
}

.nav-tabs {
  border-color: $orange;
  margin: 20px 0;

  & .nav-link {
    color: $orange;
    margin: 0 10px;

    @include md {
      margin: 0 1px;
      padding: 10px 8px;
    }

    &.active {
      @include block($white, $red-to-yellow);
    }

    &:hover {
      @include block($white, $red-to-yellow);
    }
  }
}
