div.block {
    background-color:black;
    color:white;
    margin-bottom: 20px;
    width: 22rem;
    margin-left: 20px;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2#facilitieName {
    width: 350px;
}
