div {
    display: flex;
    background-color:black;
    color:white;
    padding:20px;
    margin-bottom: 20px;
    width: 20%;
}

div #container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
